/*.properties
dependency-reduced-pom.xml
/*.crt
/*.cer
/logs
generated/

# maven
.project
target

# IntelliJ
.idea
*.iml

# npm
node_modules
.cache
*/src/main/web/node

# Idiot macs
.DS_Store

# Dev env specific env vars/secrets management
.env*

# Nix stuffs
/.direnv
result*
/.m2/
