.idea
*.iml
target
node_modules
.cache
dependency-reduced-pom.xml
*/src/main/web/node
/*.properties
/*.crt
/*.cer
/logs
generated/

# Dev env specific env vars/secrets management
.env*

# Nix stuffs
/.direnv
result*
