html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  /* Nav Designsystem - navFarger, are saved here. The reason is that NextJs, along with other
   React frameworks hardly support Less, thus this is the only appropriate work-around */
  /* Fargene må oppdateres manuelt fordi Next sin støtte for Less ikke er god nok.
   Dette gjelder også mange andre rammeverk. Less brukes av for få til at det får støtte */
  --navGraBakgrunn: #F1F1F1;
  --navBakgrunn: #FFFFFF;

  /* Colors for basic things like background, boxes, etc */
  --navGra80: #4F4F4F;
  --navGra40: #A0A0A0;
  
  /* Interactive colors for items such as links, buttons, active, hover, etc */
  --fokusFarge: #254B6D;
  --navBla: #0067C5;
  --navBlaLighten40: #66A4DC;
  
  /* Status codes */
  --redError: #BA3A26;
  --navOransje: #FF9100;
  --navGronn: #06893A;
}
