html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  /* Nav Designsystem - navFarger, are saved here. The reason is that NextJs, along with other
   React frameworks hardly support Less, thus this is the only appropriate work-around */
  --navGraBakgrunn: #F1F1F1;
  --navBakgrunn: #FFFFFF;
  --fokusFarge: #254B6D;
  
  /* Status codes */
  --redError: #BA3A26;
  --navOransje: #FF9100;
  --navGronn: #06893A;
}
